<div class="modal-header">
  <h5 class="modal-title">Create Analysis</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="analysis_name">Analysis Name</label>
      <input type="text" class="form-control" id="analysis_name" formControlName="analysis_name">
    </div>
    @if (mode === "searchExp") {
      <app-experiment-search (selectedExperiment)="handleExperimentSelect($event)"></app-experiment-search>
    } @else {
      <div class="form-group">
        <b>Experiment: </b> {{selectedExperiment?.experiment_name}}
      </div>
    }

    <div class="form-group">
      <label for="analysis_type">Analysis Type</label>
      <select class="form-select" id="analysis_type" formControlName="analysis_type">
        @for (a of analysisTypeChoices; track a) {
          <option value="{{a.value}}">{{a.analysis_type}}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="fasta_file">Fasta File</label>
      <input type="text" class="form-control" id="fasta_file" formControlName="fasta_file">
    </div>
    <div class="form-group">
      <label for="spectral_library">Spectral Library</label>
      <input type="text" class="form-control" id="spectral_library" formControlName="spectral_library">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
</div>
