<div class="modal-header">
  <h5 class="modal-title">
    DIA-NN CMD Params Generator
  </h5>
</div>
<div class="modal-body">
  <div class="p-1" style="max-height: 400px; overflow: auto">
    <app-diann-config-input (updateConfig)="handleConfigChange($event)"></app-diann-config-input>
  </div>
  <hr>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="diannCMD">
        DIA-NN CMD
      </label>
      <textarea class="form-control" rows="5" id="diannCMD" formControlName="diannCMD"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="export()">Export Config</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
