<div class="container-fluid d-flex flex-row p-0 m-0">
  <nav ngbNav #nav="ngbNav" [(activeId)]="active"
       class="flex-column navbar navbar-dark bg-dark"
       orientation="vertical"
       style="width: 50px">
    <button class="btn btn-dark" ngbNavItem="home" routerLink="/home" routerLinkActive="active"><i class="bi bi-house"></i></button>
    <div class="d-flex flex-column justify-content-end">
      <button ngbNavItem="log" class="btn btn-dark" routerLink="/log/analysis-log" routerLinkActive="active"><i class="bi bi-journal"></i></button>
      <button ngbNavItem="settings" class="btn btn-dark" routerLink="/settings" routerLinkActive="active"><i class="bi bi-gear"></i></button>
    </div>

  </nav>
  <div class="flex-grow-1 d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CATAPULT</a>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav
          me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-dark" id="diannButton" ngbDropdownToggle>
                    <i class="bi bi-book">DIA-NN</i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="diannButton">
                    <a class="dropdown-item" (click)="openDiannModal()">DIA-NN Param Generator</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-dark" id="experimentButton" ngbDropdownToggle>
                    <i class="bi bi-book"> Experiment</i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="experimentButton">
                    <a class="dropdown-item" (click)="openCreateExperimentModal()">Create</a>
                    <a class="dropdown-item" routerLink="/experiment/manage">Manage</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-dark" id="analysisButton" ngbDropdownToggle>
                    <i class="bi bi-book"> Analysis</i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="analysisButton">
                    <button class="dropdown-item" (click)="openCreateAnalysisModal()">Create</button>
                    <a class="dropdown-item" routerLink="/analysis/manage">Manage</a>
                  </div>
                </div>
              </li>
              @if (!accounts.loggedIn) {
                <li class="nav-item">
                  <a class="btn btn-dark" routerLink="/accounts/login"><i class="bi bi-lock"></i> Login</a>
                </li>
              } @else {
                <li class="nav-item">
                  <button class="btn btn-dark" (click)="accounts.logout()"><i class="bi bi-lock"></i> Logout</button>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nav>
    @if (ready) {
      <div>
        <router-outlet></router-outlet>
      </div>
    }
  </div>
</div>
<app-toast-container></app-toast-container>
