<div>
  <div class="d-flex g-1">
    <div class="border-end border-1 border-black d-flex flex-column" style="height: 100%; width: 300px; min-width: 300px">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
        <div class="container-fluid">
          <div class="navbar-brand">Analyses Management</div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-start g-2 flex-wrap text-light">
        <button class="btn btn-sm btn-dark" (click)="openCreateAnalysisModal()">+</button>
        <button class="btn btn-sm btn-dark" (click)="showSelect=!showSelect"><i class="bi bi-folder-check"></i></button>
        <button class="btn btn-sm btn-dark" (click)="openFilterModal()"><i class="bi bi-filter"></i></button>
        <button class="btn btn-sm btn-dark" (click)="deleteAllSelected()"><i class="bi bi-trash"></i></button>
        <button class="btn btn-sm btn-dark" (click)="previousPage()" [disabled]="!previous"><</button>
        <button class="btn btn-sm btn-dark" (click)="nextPage()" [disabled]="!next">></button>
        <button class="btn btn-sm btn-dark" (click)="resetFilter()"><i class="bi bi-repeat"></i></button>
      </nav>
      <app-analysis-search [searchTerm]="searchTerm" [mode]="'emit'" (searchQuery)="handleAnalysisSearchQuery($event)"></app-analysis-search>
      <div class="analysis-side-nav">
        <div class="list-group d-flex flex-column rounded-0">
          @for (e of analyses; track e) {
            <div [ngClass]="{
          'list-group-item list-group-item-action d-flex flex-row align-item-center g-2': true,
          'bg-primary': e.id === clickedAnalysis,
          'text-light': e.id === clickedAnalysis
          }" (click)="selectAnalysis(e.id)">
              @if (showSelect) {
                <div class="form-check flex-grow-0">
                  <input class="form-check-input" type="checkbox" (change)="toggleAnalysisSelect(e.id, $event)">
                </div>
              }
              <div class="flex-grow-1">
                <div>
                  <b>ID:</b> {{e.id}}<br>
                  <b>Name:</b> {{e.analysis_name}}<br>
                  <b>Path:</b> {{e.analysis_path}}
                </div>
              </div>

            </div>
          }
        </div>

      </div>
    </div>
    <div class="analysis-main-content">
      @if (extraParameterService.proteinIdentified.min || extraParameterService.proteinIdentified.max || extraParameterService.precursorIdentified.max || extraParameterService.precursorIdentified.min) {
        <div class="m-5 small">
          <b>Current Extra Filter</b>
          <p>
            @if (extraParameterService.proteinIdentified.min) {
              <b>Min Protein Identified:</b> {{extraParameterService.proteinIdentified.min}} <br>
            }
            @if (extraParameterService.proteinIdentified.max) {
              <b>Max Protein Identified:</b> {{extraParameterService.proteinIdentified.max}} <br>
            }
            @if (extraParameterService.precursorIdentified.min) {
              <b>Min Precursor Identified:</b> {{extraParameterService.precursorIdentified.min}} <br>
            }
            @if (extraParameterService.precursorIdentified.max) {
              <b>Max Precursor Identified:</b> {{extraParameterService.precursorIdentified.max}} <br>
            }
          </p>
        </div>
      }
      @if (clickedAnalysis === -1) {
        <div class="p-5">
          <div class="border-dark border-opacity-25 rounded-3 d-flex "
               style="border-style: dashed">
            <div class="p-5">
              <p>
                No analysis selected yet.
              </p>
            </div>
          </div>
        </div>
      } @else {
        <div class="p-5">
          <form [formGroup]="form" class="d-flex flex-column gap-2 mb-2">
            <div class="form-group">
              <label for="analysis_name">Analysis Name</label>
              <input type="text" class="form-control input-journal" id="analysis_name" formControlName="analysis_name">
            </div>
            <div class="form-group">
              <label for="analysis_path">Analysis Path</label>
              <input type="text" class="form-control input-journal" readonly id="analysis_path" formControlName="analysis_path">
            </div>
            <div class="form-group">
              <label for="id">Unique ID</label>
              <input type="number" class="form-control input-journal" id="id" formControlName="id" readonly>
            </div>
            <div class="d-flex gap-2">
              <!--<div class="form-group">
                <label for="analysis_type">Analysis Type</label>
                <select class="form-select" id="analysis_type" formControlName="analysis_type">
                  @for (v of analysisTypeChoices; track v) {
                    <option [value]="v.value">{{v.analysis_type}}</option>
                  }
                </select>
              </div>-->
            </div>
            <div class="form-group">
              <b>Created At:</b> {{form.value.created_at}}
            </div>
            <div class="form-group">
              <b>Updated At:</b> {{form.value.updated_at}}
            </div>
            <div class="d-flex gap-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="processing" formControlName="processing">
                <label class="form-check-label" for="processing">
                  Processing
                </label>
                <small class="form-text text-muted">
                  Indicate if the analysis is processing.
                </small>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="completed" formControlName="completed">
                <label class="form-check-label" for="completed">
                  Completed
                </label>
                <small class="form-text text-muted">
                  Indicate if the analysis is completed.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="commands">Command Parameters</label>
              <textarea class="form-control input-journal" id="commands" formControlName="commands" readonly></textarea>
            </div>
            <div class="form-group">
              <label for="output_folder">Output Folder</label>
              <input type="text" class="form-control input-journal" id="output_folder" formControlName="output_folder">
              <button class="btn btn-sm btn-outline-primary mt-1" (click)="openFileBrowser()">Browse</button>
            </div>
            <div class="form-group">
              <b>Start Time:</b>
              @if (form.value.start_time) {
                {{form.value.start_time}}
              }
            </div>
            <div class="form-group">
              <b>End Time:</b>
              @if (form.value.end_time) {
                {{form.value.end_time}}
              }
            </div>
            @if (selectedExperiment) {
              @if (!editExperiment) {
                <div class="form-group">
                  <label><b>Experiment</b></label>
                  <p><a href="/#/experiment/manage/{{selectedExperiment.id}}">{{selectedExperiment.experiment_name}}</a></p>
                  <!--<button class="btn btn-sm btn-outline-danger" (click)="editExperiment=true">Change Experiment</button>-->
                </div>
              } @else {
                <app-experiment-search [mode]="'typeahead'" (selectedExperiment)="handleExperimentSelect($event)" [experiment]="selectedExperiment"></app-experiment-search>
              }
            }

            <div class="d-flex gap-2">
              <button class="btn btn-primary" (click)="updateAnalysis()">Update</button>
              @if (form.value.id && form.value.ready) {
                <button class="btn btn-primary" (click)="queueAnalysis(form.value.id)">Queue Analysis</button>
              }

              <button class="btn btn-danger" (click)="deleteAnalysis(clickedAnalysis)">Delete</button>
            </div>
          </form>
          @if (resultSummaries.length> 0) {
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="'precursor'">
                <button ngbNavLink>Precursor</button>
                <ng-template ngbNavContent>
                  <div class="d-flex justify-content-center mt-2">
                    <app-bar-chart-result-summary [plotType]="'precursor'" [data]="resultSummaries"></app-bar-chart-result-summary>
                  </div>
                  <div>
                    <app-precursor-report [pageSize]="5" [analysisIds]="[clickedAnalysis]"></app-precursor-report>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="'protein'">
                <button ngbNavLink>Protein</button>
                <ng-template ngbNavContent>
                  <div class="d-flex justify-content-center mt-2">
                    <app-bar-chart-result-summary [plotType]="'protein'" [data]="resultSummaries"></app-bar-chart-result-summary>
                  </div>
                  <div>
                    <app-protein-group-report [pageSize]="5" [analysisIds]="[clickedAnalysis]"></app-protein-group-report>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          }
        </div>
      }
    </div>
    <!--<div class="border-start border-1 border-black">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
        <div class="container-fluid">
          <div class="navbar-brand">Associated Tasks</div>
        </div>
      </nav>
      <div class="analysis-task-list">
        <div class="list-group d-flex flex-column rounded-0">
          @for (t of tasks; track t) {
            <div [ngClass]="{
          'list-group-item list-group-item-action d-flex flex-row align-item-center g-2': true,
          'bg-success': t.status === 'SUCCESS',
          'bg-primary': t.status === 'RUNNING',
          'bg-secondary': t.status === 'PENDING',
          'bg-danger': t.status === 'FAILURE',
          'text-light': t.status === 'SUCCESS' || t.status === 'RUNNING' || t.status === 'PENDING' || t.status === 'FAILURE'
          }">
              <div class="flex-grow-1">
                <p><b>ID:</b> {{t.task_id}}<br>
                  <b>Task:</b> {{t.task_name}}
                </p>
              </div>
            </div>
          }
        </div>
      </div>

    </div>-->
  </div>
</div>
