<div class="container-fluid pt-2 overflow-auto d-flex flex-row gap-2 ">
  <div class="d-flex flex-column gap-2" style="height: 85vh">
    <div style="width: 600px">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Workers
          </h5>
        </div>
        <div class="card-body overflow-auto" style="height: 61vh">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Worker</th>
              <th scope="col">Status</th>
              <th scope="col">OS</th>
              <th scope="col">Current Tasks</th>
            </tr>
            </thead>
            <tbody>
              @for (worker of workerQuery?.results; track worker) {
                <tr (click)="clickWorkerRow(worker.worker_hostname)"
                    [ngClass]="{'table-primary': worker.worker_hostname === selectedWorker}"
                >
                  <td>{{worker.worker_hostname}}</td>
                  <td>{{worker.worker_status}}</td>
                  <td>{{worker.worker_os}}</td>
                  <td>
                    <ul>
                      @for (task of worker.current_tasks; track task) {
                        <li>
                          {{task.task_id}}<br>
                          {{task.task_name}}
                        </li>
                      }
                    </ul>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          Worker node count: {{workerQuery?.count}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-row gap-2 w-100">
      <div class="d-flex flex-row flex-wrap gap-2 w-100">
        <div class="w-100">
          <div class="card">
            <div class="card-body h-100 w-100">
              <p class="card-text">
                <strong>Backend:</strong> {{baseURL}}
              </p>
              <p class="card-text">
                Experiments: {{n_experiments}}
              </p>
              <p class="card-text">
                Analyses: {{n_analyses}}
              </p>
              <p class="card-text">
                Tasks: {{n_tasks}}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div style="width: 60%">
    <div class="card">
      <div class="card-header">
        @if (selectedWorker) {
          <h5 class="card-title">
            Working task details for <span class="text-primary">{{selectedWorker}}</span>
          </h5>
        } @else {
          <h5 class="card-title">
            Select a worker to follow its tasks log output
          </h5>
        }
      </div>
      <div class="card-body" style="overflow-y:auto; height: 85vh" #logContainer>
        <div
          class="d-flex flex-column justify-content-between"
        >
          @for (l of logMessages; track l) {
            <p>
              [{{l.timestamp | date:'short'}}] {{l.hostname}}: {{l.log}}
            </p>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="flex-grow-1">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Tasks</h5>
      </div>
      <div class="card-body overflow-auto" style="height: 85vh">
        <div class="list-group">
          @for (task of taskQuery?.results; track task) {
            <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'bg-primary text-light': task.status === 'RUNNING', 'bg-success text-light': task.status === 'SUCCESS', 'bg-warn text-light': task.status === 'FAILED', 'bg-secondary text-light': task.status === 'PENDING'}">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{task.task_id}}</h5>
              </div>
              <p class="mb-1">{{task.task_name}}</p>
            </a>
          }
        </div>
      </div>
    </div>
  </div>

</div>

