<div class="container-fluid p-5 overflow-auto d-flex flex-row gap-2">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Work Statistics</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        Experiments: {{n_experiments}}
      </p>
      <p class="card-text">
        Analyses: {{n_analyses}}
      </p>
      <p class="card-text">
        Tasks: {{n_tasks}}
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        Workers
      </h5>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Worker</th>
            <th scope="col">Status</th>
            <th scope="col">OS</th>
          </tr>
        </thead>
        <tbody>
          @for (worker of workerQuery?.results; track worker) {
            <tr>
              <td>{{worker.worker_hostname}}</td>
              <td>{{worker.worker_status}}</td>
              <td>{{worker.worker_os}}</td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  </div>
</div>

