<div class="d-flex flex-row" style="height: 94.5vh; position:relative">
  <div class="border-end border-1 border-black d-flex flex-column flex-grow-0" style="height: 100%; width: 300px; min-width: 300px">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
      <div class="container-fluid">
        <div class="navbar-brand">Workers</div>
      </div>
    </nav>
    <div>
      <div class="list-group overflow-auto rounded-0" style="height: 65vh">
        @for (worker of workerQuery?.results; track worker) {
          <div (click)="clickWorkerRow(worker.worker_hostname)" href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': worker.worker_hostname === selectedWorker}">
            <b>{{worker.worker_hostname}}</b>
            <div>
              <p>
                OS: {{worker.worker_os}} <br>
                Status: {{worker.worker_status}}<br>
              </p>
              <ul>
                @for (task of worker.current_tasks; track task) {
                  <li>
                    {{task.task_id}}<br>
                    {{task.task_name}}
                  </li>
                }
              </ul>
            </div>


          </div>
        }
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
      <div class="container-fluid">
        <div class="navbar-brand">Backend</div>
      </div>
    </nav>
    <div class="d-flex flex-column h-100 p-2">
      <p class="card-text">
        <strong>Backend:</strong> {{baseURL}}
      </p>
      <p class="card-text">
        Experiments: {{n_experiments}}
      </p>
      <p class="card-text">
        Analyses: {{n_analyses}}
      </p>
      <p class="card-text">
        Tasks: {{n_tasks}}
      </p>
    </div>
  </div>
  <div class="border-end border-1 border-black d-flex flex-column flex-grow-1 w-100" style="height: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
      <div class="container-fluid">
        <div class="navbar-brand">
          @if (selectedWorker) {
            Working task details for <span class="text-primary">{{selectedWorker}}</span>
          } @else {
            Select a worker to follow its tasks log output
          }
        </div>
      </div>
    </nav>
    <div class="list-group overflow-auto" style="height: 100%" #logContainer>
      @for (l of logMessages; track l) {
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{l.timestamp | date:'short'}}</h5>
          </div>
          <p class="mb-1">{{l.log}}</p>
        </a>
      }
    </div>
  </div>
  <div class="border-end border-1 border-black d-flex flex-column flex-grow-0" style="height: 100%; width: 300px; min-width: 300px">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light" style="width: 100%">
      <div class="container-fluid">
        <div class="navbar-brand">Tasks</div>
      </div>
    </nav>
    <div class="list-group overflow-auto rounded-0" style="height: 100%">
      @for (task of taskQuery?.results; track task) {
        <div (click)="handleTaskClick(task.id)" href="#" class="list-group-item list-group-item-action" [ngClass]="{
        'bg-primary': task.status === 'RUNNING',
        'bg-success': task.status === 'SUCCESS',
        'bg-warn': task.status === 'FAILED',
        'bg-secondary': task.status === 'PENDING',
        'text-light': task.status === 'SUCCESS' || task.status === 'RUNNING' || task.status === 'PENDING' || task.status === 'FAILURE'}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{task.task_id}}</h5>
          </div>
          <p class="mb-1">{{task.task_name}}</p>
        </div>
        @if (task.id === selectedTask && experiment && analysis) {
          <div class="list-group-item">
            <p>
              <strong>Analysis</strong> <br>
              {{analysis.analysis_name}}
            </p>
            <p>
              <strong>Experiment</strong> <br>
              {{experiment.experiment_name}}
            </p>
          </div>
        }
      }
    </div>
  </div>
</div>
